/*
 *  Node article component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------

.node-grid-gutter() {
  margin: 0;

  .row {
    @media @tablet {
      margin: 0 -27px;
    }
    @media @normal {
      margin: 0 -36px;
    }
    @media @wide {
      margin: 0 -45px;
    }

    .col-sm-5, .col-sm-7 {
      padding-bottom: 50px;

      @media @tablet {
        padding: 0 27px;
      }
      @media @normal {
        padding: 0 36px;
      }
      @media @wide {
        padding: 0 45px;
      }

    }
  }
}

// General settings
// -------------------------
.node.node-article {
  .node-grid-gutter();

  .row {
    div.col-sm-5 {
      .field-name-field-image {
        width: 100%;

        .field-item {
          text-align: left;

          img {
            display: inline-block;
            margin: 0;
            width: 61.9%;
            height: auto;

          }
        }
      }

      &.large-image, &.popup-image {
        .field-name-field-image {
          .field-item {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    div.col-sm-7 {
      .field-name-body {
        margin-left: 0;
        #pxl-mixins.wysiwyg-body;
      }
    }

    @media @tablet {
      div.col-sm-5 {
        width: 42.5%;
        margin-right: -10px;

        .field-name-field-image {
          .field-item {
            text-align: right;
          }
        }
      }

      div.col-sm-7 {
        .field-name-body {
          margin-left: 10px;
        }
      }

    }

  }
}

